::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #971d6c;
}
::-webkit-scrollbar-thumb:hover {
    background: #e32ca6;
}